spring.application.name=scout-bank-backend

server.forward-headers-strategy=framework

s3.endpoint=
s3.region=
s3.access-key=
s3.secret-key=
s3.bucket-name=

spring.datasource.url=jdbc:postgresql://DB_HOST:5432/DB_NAME
spring.datasource.username=DB_USER_NAME
spring.datasource.password=DB_USER_PASSWORD
spring.jpa.hibernate.ddl-auto=drop
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=false
spring.datasource.connection-properties=charSet=UTF-8

bootstrap.root-user=true
bootstrap.users=true
bootstrap.roles=true
bootstrap.root-password=ADD_PASSWORD_HERE
bootstrap.organizations=true
bootstrap.ranks=true
